<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить вопрос</title>
</head>
<body>
<h1>Изменить вопрос</h1>
<a th:href="@{/qa}">Вернуться к вопросам</a>
<form th:action="@{/qa/edit/{id}(id=${question.id})}" method="post">
    <label for="questionText">Вопрос:</label>
    <input type="text" name="questionText" id="questionText" th:value="${question.text}" required>
    <br>
    <h3>Ответы:</h3>
    <ol>
        <div th:each="i : ${#numbers.sequence(1, 4)}">
            <input type="text" th:name="|answerText_${i}|" required>
            <input type="checkbox" th:name="|isCorrect_${i}|" value="true"> Правильный ответ
            <br>
        </div>
    </ol>
    <button type="submit">Save</button>
</form>
</body>
</html>

