<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<h1>Список пользователей</h1>
<table>
    <thead>
    <tr>
        <th>Имя пользователя</th>
        <th>Роли</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${(#strings.isEmpty(user.authority)) ? '' : #strings.listJoin(#strings.arraySplit(#strings.listJoin(user.authority, ','), ','), ', ').replace('ROLE_', '')}"></td>
    </tr>
    </tbody>
</table>
<p th:if="${currentUser != null}">Текущий пользователь: <span th:text="${currentUser.username}"></span></p>
<a th:href="@{/profile}">Вернуться в профиль</a>
</body>
</html>

